@use 'abstracts/variables' as *;

.btn{
            border-radius: 5px;
            font-family: $font-primary;
            font-size: $fs-15;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            line-height: $lh-auto;
            border: 1px solid $gray-200;
            padding: 15px 27px;
            display: inline-block;
            width: auto;
            white-space: nowrap;

            &.btn-primary {
            background: $gray-200;
            color: $black;
            &:active,
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:hover {
                background: $white;
                border: 1px solid $gray-200;
                color: $dark;
            }
            
        }
&.btn-secondary {
            background: $black;
            color: $gray-200;
            &:active,
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:hover {
                background: $gray-200;
                border: 1px solid $black;
                color: $dark;
            }

        }

        &.btn-tertiary {
  color: $black;
  text-align: center;
  font-size: $fs-15;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  background: $gray-200;
  border: 1px solid transparent;
  display: inline-block;
  transition: all 0.3s ease;

  &:active,
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:hover {
    background: $gray-300;
    border-color: $black;
  }
}
        }



/* ===========================================
   Slick Dots Adaptive Styles by Section BG
   =========================================== */
   .slick-list{
    padding-bottom: 10px;
   }
    .slick-dots {
      position: relative;
      text-align: center;
      margin-top: 13px;
      margin-bottom: 34px;
      list-style: none;
      bottom: unset;

      li {
        display: inline-block;
        margin: 0 6px;
        width: 17px;
        height: 17px;

        button {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          border: 3px solid;
          font-size: 0;
          cursor: pointer;

          &::before {
            display: none;
          }
        }


      }
    }


/* === Dark background section === */
.bg-dark {
  .slick-dots li button {
    background-color: $gray-200;
  }

  .slick-dots li.slick-active button {
    background-color: $dark; // same as section bg
    border-color: $gray-200;
  }
}

/* === Gray-150 (#E6E7E8) background section === */
.bg-gray-150 {
  .slick-dots li button {
    background-color: $gray-200; // lighter gray dot
  }

  .slick-dots li.slick-active button {
    background-color: $dark; // #231F20
    border: 3px solid $gray-200;
  }
}

/* === Gray-100 background section === */
.bg-gray-100 {
  .slick-dots li button {
    background-color: $gray-200;
  }

  .slick-dots li.slick-active button {
    background-color: $dark;
    border-color: $gray-200;
  }
}

/* === White background section (for contrast) === */
.bg-white {
  .slick-dots li button {
    background-color: $gray-200;
  }

  .slick-dots li.slick-active button {
    background-color: $dark;
    border-color: $gray-200;
  }
}
