@use 'abstracts/variables' as *;

#wpcf7-f6-o1 p, #wpcf7-f6-o1 p .wpcf7-submit{
    margin: 0;
}

#wpcf7-f6-o1 .wpcf7-spinner{
  display: none;  
}

.wpcf7 .wpcf7-submit{
  font-size: $fs-15!important;
}

textarea.dr-form{
height: 114px;
}

.dr-form{
    padding: 12px 23px!important;
    margin-bottom: 10px!important;
}

.dr-form::placeholder {
  color: #919191;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

