/* Styles for accordion section */

.Accordion-section {
  .section-title {
  }
  .faq-container {
    .faq-item {
      .faq-header {
      }
      .faq-content {
        .faq-inner {
        }
      }
    }
  }
}
