/* Styles for hero_banner section */
@use 'abstracts/variables' as *;

.hero-banner {

@media (min-width:992px) {
    min-height: 745px;
    padding: 173px 0 165px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:991px) {
    
    padding: 185px 0 100px 0;
}

.hero-intro {
     color: $white;
    text-align: center;
    font-family: $font-primary;
    font-size: $fs-20;
    font-style: normal;
    font-weight: 400;
    line-height: $lh-20;
    }
    h1{
    text-align: center;
}
.hero-tagline {
  text-align: center;
}

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hero-content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;    
    }
    .hero-title{
        max-width: 875px;
        margin: 0 auto;
        @media (min-width: 992px) and (max-width: 1440px) {
        max-width: 741px;
        }

    }
    .hero-buttons {
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
        .btn{
            width: 250px;
        }
    }
  }
}
