@use 'abstracts/variables' as *;

.hero-video-banner {
    position: relative;
    overflow: hidden;

    
@media (min-width:991px) {
    min-height: 745px;
    padding: 173px 0 165px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:991px) {
    
    padding: 185px 0 100px 0;
}
  .hero-bg-video,
  .bg-img-fallback {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
&::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;             
  pointer-events: none;   
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 18.29%
    ),
    linear-gradient(
      0deg,
      rgba(35, 31, 32, 0.5) 0%,
      rgba(35, 31, 32, 0.5) 100%
    );
}

  .container {
    &.hero-content {
        position: relative;
        z-index: 3;
            .text-column{
              display: flex;
              flex-direction: column;
              gap:15px;

              @media (max-width:992px) {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;                                        
                  gap: 10px;
                  margin-bottom: 50px;
                }
                .hero-intro{
                  @media (min-width:992px) {
                    max-width: 439px;
                  }
                    @media (max-width:992px) {
                    text-align: center;
                    justify-content: center;
                    align-items: center;                                        
                    }
                }
                .hero-title{
                  @media (min-width:992px) {
                    max-width: 439px;
                  }
                  font-size: $fs-50;
                  font-style: normal;
                  font-weight: 700;
                  line-height: $lh-60;

                    @media (max-width:992px) {
                    text-align: center;
                    justify-content: center;
                    align-items: center;                                        
                    }
                }
                .hero-tagline{
                  @media (min-width:992px) {
                    max-width: 439px;
                  }
                    @media (max-width:992px) {
                    text-align: center;
                    justify-content: center;
                    align-items: center;                                        
                    }
                }
                .btn-wrapper{
                  @media (min-width:992px) {
                    max-width: 439px;
                  }
                }
            }
        }
    }
  

.video-control {
  position: relative;
  z-index: 3;
.video-toggle {
      .icon-play {
        display: inline-block;
      }
      .icon-pause {
        display: none;
      }
    }
  .video-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;

    svg {
      width: 44px;
      height: 72px;
      fill: white;
      transition: opacity 0.3s ease;
    }

    .icon-pause {
      display: none; // hidden by default
    }
  }

  // when section has .playing, toggle icons
  .playing & {
    .icon-play {
      display: none;
    }
    .icon-pause {
      display: inline;
    }
  }
}





  &.playing {
    .video-toggle {
      .icon-play {
        display: none;
      }
      .icon-pause {
        display: inline-block;
      }
    }
  }
}


